body {
  position: relative;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: "Poppins", sans-serif;
}

h1.title {
  color: aliceblue;
  background: linear-gradient(
    42deg,
    #83cbfb 0%,
    #377fd9 35%,
    #edf68d 61%,
    #f1d851 100%
  );

  background-clip: text;
  color: transparent;
}

form {
  max-width: 800px;
  margin: auto;
  border-radius: 4px;
}

input,
textarea,
.form-control {
  border: 0;
  outline: none;
  box-shadow: none;
}
input:focus,
textarea:focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
  border-color: initial;
}

button:active {
  background-color: initial;
  transform: none;
}

.strikethrogh {
  text-decoration: line-through;
  font-weight: bold;
}

li:hover {
  cursor: pointer;
}

.card-alert {
  overflow: hidden;
  position: fixed;
  right: 0px;
  top: 40vh;
  min-width: 420px;
  background: #ffdb9b;
  border-left: 8px solid #ffa502;
  border-radius: 4px;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
}
.card-alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}
.card-alert.show {
  animation: show-alert 1s ease forwards;
}
.card-alert.hide {
  animation: hide-alert 1s ease forwards;
}

.alert-message {
  padding: 20px 40px;
  font-size: 20px;
  position: relative;
}

.alert-message span {
  color: #ce8500;
}
.alert-message .fa-exclamation-circle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}

.alert-message .msg {
  padding: 0 20px;
  font-size: 18px;
}
.alert-message .close-alert {
  cursor: pointer;
  position: absolute;
  background: #ffd080;
  padding: 40px 18px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #ffd080;
}

.close-alert:hover {
  background: #ffc766;
}

.alert-message .close-alert .fa-times {
  font-size: 22px;
}

.card {
  min-height: 300px;
}

@keyframes show-alert {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes hide-alert {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}
